body{
    position: relative;
    background-color: whitesmoke;
}
h2{
    padding-top: 10%;
    background-color: cadetblue;
    padding: 30px;
}
button{
    padding: 20px;
    text-decoration: none;
}
button:hover {
    text-decoration: solid;
    text-shadow: red;
    background-color:lightcoral;
}